* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.main-content {
  margin: 50px auto;
}

.navbar {
  display: flex;
  background-color: teal;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.products-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 10px auto;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

img {
  height: 300px;
  width: 250px;
}

#cartBtn {
  background-color: blue;
}
